/* ===========================FONTS========================= */

@font-face {
  font-family: SansationBold;
  src: url(../assets/fonts/Sansation_Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: SansationRegular;
  src: url(../assets/fonts/Sansation_Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MyriadProLight;
  src: url(../assets/fonts/8145.otf);
}

@font-face {
  font-family: HelveticaBold;
  src: url(../assets/fonts/HelveticaLTStd-Bold.otf);
}

@font-face {
  font-family: HelveticaLight;
  src: url(../assets/fonts/HelveticaLTStd-LightCond.otf);
}

/* ===========================GLOBAL======================== */
:root {
  --red: #da2346;
  --cyan: #097e89;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: SansationRegular;  
}

.red-text {
  color: var(--red);
}

.cyan {
  background: var(--cyan)!important;
}

/* ===========================HEADER======================== */
header {
  height: 55vw;
  max-height: 650px;
  background: radial-gradient(#5b4f7c, #40336a);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

header::before {
  content: '';
  position: absolute;
  left: -32%;
  width: 70%;
  background: radial-gradient(#483679, #2c1f62);
  height: 100%;
  z-index: 0;
  transform: skew(45deg);
}


header nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  z-index: 3;
}

.brand-name {
  flex: 0 0 18%;
}
header nav .brand-link {
  color: #fff;
  font-size: 24px;
  margin-left: 34px;
  text-decoration: none;
  font-weight: normal;
}

header nav .navbar {
  flex: 0 0 64%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav .navbar a {
  color: #fff;
  text-decoration: none;
  transition: color .3s;
}

header nav .navbar a:hover {
  color: var(--cyan)
}

header nav .social-links {
  display: flex;
  justify-content: center;
  flex: 0 0 18%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.social-link a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 50%;
  margin: 0 3px;
  transition: .3s;
}

.social-link a:hover {
  color: var(--cyan);
}

#banner {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.banner {
  position: absolute;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner.show {
    display: flex;
}

.banner.slideOutLeft {
    animation: slideOutLeft .3s;
}
.banner.slideOutRight {
    animation: slideOutRight .3s;
}

.banner-caption {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  max-width: 600px;
  position: relative;
  padding: 45px;
  border: 1px solid rgba(255,255,255,.2);
  z-index: 2;
}

.banner-caption h2 {
  font-family: SansationBold;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}

.banner-caption p {
  margin: 26px 0;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
}

.banner-caption button {
  position: absolute;
  bottom: -17.5px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  font-family: SansationRegular;
  font-weight: bold;
  border: 2px solid #fff;
  width: 110px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.banner-caption button:hover {
  background: #fff;
  color: #000;
}

.banner h2 {
  margin: 0;
}

#banner > button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  z-index: 3;
}

#banner > button > span {
  width: 14px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 14px;
  border-left: 1px solid rgba(255,255,255,.5);
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.prev {
  left: 50px;
  justify-content: flex-end!important;
}

.prev span {
  left: 6px;
  transform: rotateZ(45deg);
}

.next {
  right: 50px;
}

.next span {
  transform: rotate(-135deg);
  right: 6px;
}

.banner.slideInLeft {
  animation: slideLeft .3s ease-out;
}

.banner.slideInRight {
  animation: slideRight .3s ease-out;
}

@keyframes slideLeft {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideRight {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideOutLeft {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}

@keyframes slideOutRight {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 100%;
    }
}

.banner-1::before {
  position: absolute;
  content: '';
  background: url('../assets/img/iphone.png') no-repeat;
  width: 100%;
  height: 100%;
  background-size: 78%;
  top: 0;
  background-position-y: 10%;
  background-position-x: 60%;
}

.banner-1::after {
  position: absolute;
  content: '';
  background: radial-gradient(rgba(0,0,0,.6), rgba(255,255,255,0));
  opacity: .6;
  width: 100%;
  height: 100%;
  top: 0;
}

.nav-toggle {
  display: none;
  position: relative;
  margin-right: 30px;
  z-index: 3;
}

.nav-toggle button{
  width: 50px;
  height: 40px;
  padding: 2px 5px;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: background-color .3s;
  border-radius: 3px;
}

.nav-toggle button:hover{
  background: rgba(0,0,0,.3);
}

.nav-toggle ul{
  position: absolute;
  width: calc(100vw - 20px);
  top: 100%;
  background: #fff;
  opacity: .9;
  right: -29px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  display: none;
  animation: slideDown .3s;
}

.nav-toggle ul .nav a{
  display: block;
  padding: 10px;
  transition: .3s;
}

.nav-toggle ul .nav a:hover {
  background: #eee;
  opacity: 1;
}
.nav-toggle .social-links {
  background: #eee;
  padding: 10px;
}

.nav-toggle .social-links a {
  margin: 0 10px;
}

@keyframes slideDown {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 100%;
    opacity: .9;
  }
}

@media (max-width: 795px) {
  #banner > button {
    display: none;
  }

  .banner-caption {
    padding: 30px;
    max-width: 500px;
  }

  .banner-caption h2 {
    font-size: 36px;
  }

  .hide-on-795 {
    display: none!important;
  }

  .block-on-795 {
    display: block!important;
  }

  .flex-on-795 {
    display: flex!important;
  }
}

@media (max-width: 500px) {
  .hide-on-500 {
      display: none;
  }
}
/* =================MAIN====================== */

/* =================ABOUT==================== */

#about {
  display: flex;
  flex-wrap: wrap;
}

.img-write {
  background-image: url('../assets/img/write.png');
  background-repeat: no-repeat;
  flex-basis: 50%;
  background-size: cover;
  overflow: hidden;
  background-position-x: 50%;
}

.about-text {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 48px;
}

.about-text h3 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 2px;
  background: #000;
}

.scroll-container figure {
  width: 50%;
  height: 4px;
  background-color: #000;
  margin: 0;
  border-radius: 10px;
  position: absolute;
  top: -1px;
  left: 0;
}

.about-body-container {
  font-family: MyriadProLight, Helvetica;
  font-weight: 300;
  line-height: 16px;
  font-size: 12px;
  padding: 20px 0;
  cursor: -webkit-grab;
  user-select: none;
  display: flex;
  overflow: hidden;
}

.about-body {
  padding: 0 5px;
  flex: 0 0 100%;
}

.about-btn {
  color: #fff;
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: 300;
  border: none;
  border-radius: 3px;
}

/* =================ABOUT==================== */
/* =================SERVICES================= */

#services {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.service-card {
  flex: 33.3%;
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #3d3d3d;
  padding: 0 10px;
}

.service-card img {
  filter: brightness(5);
}

.service-card h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 50px;
}

.service-card button {
  margin-top: 20px;
  padding: 8px 30px;
  background: #959595;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: SansationRegular;
}

.service-card p{
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}

#services > button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services > button > span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-left: 2px solid #373737;
  border-bottom: 2px solid #373737;
}

#services .prev {
  left: unset;
  bottom: 0;
  right: 31px;
}
#services .next {
  bottom: 0;
  right: 0;
}



/* =================SERVICES================= */


/* ==================MODAL================= */

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99;
  min-height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.4);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.modal-header h3{
  font-size: 24px;
  font-weight: 300;
  margin: 20px 0 3px;
}

.modal-header i {
  color: #333;
  margin-right: 5px;
  cursor: pointer;
}

.modal-box {
  position: fixed;
  overflow: hidden;
  background: #fff;
  padding: 0 20px;
  transition: .3s;
}

.modal-body {
  width: calc( 80vw - 40px );
}

/* ==================MODAL================= */

* {
  box-sizing: border-box;  
}
/* Body */
body {
  margin: 0;
  padding: 0;  
  font-family: SansationRegular;
}

/* Subtitle */
.subtitle {
  height: 140px;
  color: #f7f7f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.subtitle.feedback {  
  background-color: #373737;
}
.subtitle > span {
  font-family: SansationRegular;
  font-size: 40px;
  text-transform: uppercase;
}
.subtitle .line {
  border-bottom: 1px solid #f2f2f2;
  flex: 1;
  margin: 25px 50px 0;
  position: relative;  
}
.subtitle .left-line::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 80%;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #fff;
}
.subtitle .right-line::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  bottom: 0;
  right: 80%;
  border-bottom: 3px solid #fff;
}
/* Feedback content */
.feedback-slider {
  display: flex;
  flex-flow: row wrap;
  background-color: #3d3d3d;
  align-items: center;
}
.feedback-text-block {
  flex: 0 0 33.3%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  color: #cdc8c8;  
}
.feedback-people-block {
  flex: 0 0 66.6%;
  display: flex;
  padding: 25px 0;
  flex-wrap: nowrap;
  overflow-x: hidden;
  transition: all .3s;
}
.slider-text {
  max-width: 230px;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.slider-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 35%;
  right: 35%;
  border-bottom: 3px solid #b1aeae;
}
.slider-navigation {
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 230px;
}
.slider-navigation .count {
  font-size: 14px;
}
.arrow {
  width: 15px;
  height: 15px;
}
.arrow:hover, .arrow:focus {
  border-color: #f7f7f7;
  cursor: pointer;
}
.prev-arrow {
  border-left: 2px solid #989898;
  border-bottom: 2px solid #989898;
  transform: rotate(45deg);
}
.next-arrow {
  border-right: 2px solid #989898;
  border-bottom: 2px solid #989898;
  transform: rotate(-45deg);
}

.person {
  position: relative;
  flex-basis: 30%;
  padding: 0 20px;
  flex: 0 0 33.3%;
  /* max-height: 296px; */
}
.person .image {
  /* min-width: 180px; */
  position: relative;
}
.person > .image img {
  width: 100%;
}
.person .info-text {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 36px;
  overflow: hidden;
  padding: 0 10px;
  color: #272727;
}
.person .info-text .order-number {
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  flex: 1;
  padding: 12px;
}
.person .info-text .name {
  font-size: 14px;
  background-color: #fff;
  flex: 4;
  margin-left: 5px;
  padding: 12px 5px;
}
.person .info-text .name span {
  display: block;
  font-size: 12px;
}
/* Clients */
.subtitle.clients {
  background-color: #fff;
  color: #656464;
  font-family: SansationBold;
  font-weight: bold;
}
.subtitle.clients div {
  border-color: #6f6e6e;
}
.subtitle.clients div:after {
  border-color: #656464;
}

.clients-logos {
  padding: 15px 0 70px;
  background-color: #fbfbfb;
}
.line-wrapper {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 45px 0 25px;
}

/* Callback */
.callback {
  background-color: #097e89;
  display: flex;
  flex-flow: row wrap;
  color: #ffffff;
  align-items: center;
  padding: 0 50px 0 40px;
}
.callback-title {
  flex-basis: 44%;
}
.callback-title h5 {
  font-size: 38px;
  margin: 30px 0 35px;
}
.callback-title p {
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 1.5;
}
.callback-form {
  flex-basis: 56%;
}
.callback-form form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.callback-input {
  font-size: 13px;
  background: inherit;
  padding: 16px 20px;
  border: 1px solid #84bfc4;
}
.callback-input::placeholder {  
  color: #ffffff;
}
.callback-input:first-child {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.callback-input:focus {
  color: #ffffff;
  outline: #84bfc4 auto 5px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px #097e89 inset;
}

.callback-submit {
  font-family: MyriadProLight;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  color: #097e89;
  border: none;
  padding: 16px 32px 16px 22px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}
footer {
  background-color: #474747;
  color: #e5e5e5;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 30px 50px 40px 40px;
}
.footer-nav {
  flex: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.footer-nav .list ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
.footer-nav .list ul li a {
  font-family: HelveticaLight;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 7px 0;
  transition: all .2s ease;
}
.footer-nav .list ul li a:hover, .footer-nav .list ul li a:focus {
  text-decoration: underline;  
}
.footer-title {
  font-family: HelveticaBold;
  font-size: 16px;
  padding-bottom: 3px;
  text-transform: uppercase;
  position: relative;
}
.footer-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  border-bottom: 1px solid #e5e5e5;
}
.media-links {
  flex: 3;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.media-links > form {
  display: flex;
  flex-flow: row nowrap;  
}
.subscribe-input {
  font-family: HelveticaLight;
  font-size: 14px;
  background-color: #cccccc;
  border: none;
  padding: 15px 0 18px 15px;
  width: 180px;
}
.subscribe-input::placeholder {
  color: #4f4e4e;
}
.subscribe-input:focus {
  outline: #097e89 auto 5px;
}
.subscribe-submit {
  font-family: HelveticaLight;
  font-size: 14px;
  background-color: #0072bc;
  color: #ffffff;
  border-color: #cccccc;
  border-left: none;
  padding: 12px 26px;
}
footer .socials {
  width: 280px;
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #2e2e2e;
}
.social a {
  color: #e5e5e5;
  transition: all .2s ease;
}
.social a:hover {
  transition: all .2s ease;
}
.social .facebook:hover {
  color: #3b5998;
}
.social .twitter:hover {
  color: #00aced;
}
.social .google:hover {
  color: #d34836;
}
.social .basketball:hover {
  color: #dc143c;
}
.social .behance:hover {
  color: #1769ff;
}
.social .instagram:hover {
  color: #e95950;
}
.social .instagram {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .feedback-slider {
    flex-direction: column;
  }
  .feedback-people-block {
    flex: 1;
  }
  .line-wrapper {
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    padding: 0;
  }
  .callback {
    flex-direction: column;
  }
  .callback-form form {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .callback-input:first-child {
    border-right: 1px solid #84bfc4;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
  }
  .callback-submit {
    border-radius: 0 0 3px 3px;
  }
}
@media screen and (max-width: 360px) {
  .person .image {
    min-width: 260px;
  }
  .person {
    margin: 15px 0;
  }
}